/* Layout for authenticated users (Header + Sidebar + Content) */
.app-main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-content-area {
  display: flex;
  flex-grow: 1; /* Allows sidebar + page content to fill remaining height */
}

.app-page-content {
  flex-grow: 1; /* Allows page content to take remaining width */
  overflow-y: auto; /* Allow scrolling within the page content if it's too long */
  background-color: var(--stl-light-gray); /* Default background for content */
}
